/* postcss-pxtransform disable */
// http://taro-docs.jd.com/taro/docs/size.html#%E5%B1%9E%E6%80%A7

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(248, 248, 248, 0.82);
  // box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.25);

  &.is-transparent {
    background-color: transparent;
    color: #ffffff;
  }

  &.is-black-40 {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
  }

  &-start,
  &-end {
    width: 42px;
    padding-left: 10px; // ignored
    padding-right: 10px; // ignored
  }

  &-start {
    .back {
      width: 22px;
      .icon-back {
        width: 45rpx;
        height: 45rpx;
      }
    }
  }

  &-title {
    font-weight: 500;
  }

  .navigator-hover {
    opacity: 1;
    background-color: transparent;
  }
}
