/* postcss-pxtransform disable */

page {
  font-family: 'PingFang SC', 'Songti SC', 'Lucida Grande';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: rgba(255, 255, 255, 1);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.columns {
  display: flex;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.section {
  display: flex;
  flex-direction: column;
  padding-left: 30rpx;
  padding-right: 30rpx;
  flex: 1;

  &-header {
    &.columns {
      flex-direction: row;
      justify-content: space-between;
    }
    .column {
      flex: none;
    }
    .title {
      font-size: 60rpx;
      font-weight: 500;
      line-height: 84rpx;
    }
    .subtitle {
      margin-left: 14rpx;
      font-size: 20rpx;
      color: #747272;

      &.is-50 {
        margin-left: 0;
        color: #000;
        font-size: 50rpx;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .tags {
      font-size: 20rpx;
      color: #61b58f;

      .btn {
        padding: 20rpx;
        display: inline-block;
        box-sizing: border-box;
        line-height: 1;
      }
    }
  }

  &-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &-footer {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140rpx;
    position: relative;

    .tips {
      position: absolute;
      top: 0;
      font-size: 20rpx;
      line-height: 28rpx;
      color: #797878;
      text-align: center;
    }

    &.loading {
      justify-content: center;
      font-size: 20rpx;
      color: #747272;
      height: 70rpx;
      // background-color: #fff;
    }
  }
}

.button {
  box-sizing: border-box;
  border-radius: 8rpx;
  border: 1px solid #979797;
  background-color: #fff;
  color: #747474;
  height: 50rpx;
  font-size: 24rpx;
  line-height: calc(50rpx - 2px);
  font-weight: 500;

  &.mid {
    width: 294rpx;
    height: 60rpx;
    line-height: 60rpx;
    border-radius: 30rpx;
    border: none;
  }

  &.big {
    width: 550rpx;
    height: 70rpx;
    border-radius: 35rpx;
    font-size: 30rpx;
    line-height: 70rpx;
    border: none;
  }

  &.primary {
    color: #fff;
    background-color: #009688;
  }

  &[disabled] {
    color: #fff !important;
    background-color: #979797 !important;
  }

  &:after {
    content: none;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  flex: 1;

  &-header {
    color: #797878;
    font-size: 30rpx;
    font-weight: 500;
    line-height: 42rpx;
    margin-top: 46rpx;
    margin-bottom: 70rpx - 20rpx;

    .subtitle {
      font-size: 24rpx;
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

    .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .button {
        display: inline-flex;
        // margin-top: 20rpx;
        margin-bottom: 20rpx;

        &:not(:last-child) {
          margin-right: 20rpx;
        }

        &.selected {
          border-color: rgba(0, 0, 0, 0);
          color: #fff;
          background-color: #009688;
        }

        &.has-addons {
          justify-content: center;
          align-items: center;
          overflow: hidden;
          .left {
            padding-left: 20rpx;
            padding-right: 20rpx;
          }
          .right {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50rpx;
            height: 100%;
            background: #b0aeae;
          }
        }
      }
    }

    .actions {
      // margin-top: 20rpx;
      margin-bottom: 20rpx;
      .button {
        margin-left: 0;
        width: 260rpx;
      }
    }
  }
}

.scroll-view {
  position: absolute;
  height: 100%;
}

.read-list {
  margin-top: 37rpx;
}

.list {
  .item {
    padding-bottom: 30rpx;
    box-sizing: border-box;
    &:not(:last-child) {
      margin-bottom: 24rpx;
      border-bottom: 1px solid #979797;
    }

    &-recommend {
      color: #747272;
      font-size: 22rpx;
      line-height: 30rpx;
    }
    &-title {
      color: #000;
      font-size: 24rpx;
      font-weight: 600;
      line-height: 33rpx;
      margin-top: 12rpx;
    }
    &-description {
      color: #747272;
      font-size: 20rpx;
      line-height: 23rpx;
      margin-top: 12rpx;
    }
    &-author {
      display: flex;
      align-items: center;
      color: #000;
      font-size: 20rpx;
      line-height: 23rpx;
      margin-top: 12rpx;

      .left {
        flex: 1;
      }

      .right {
        flex: none;
        width: 30rpx + 35rpx;
      }
    }
  }
}

.icon-heart {
  width: 30rpx;
  height: 28rpx;
}

.affix {
  width: 100rpx;
  height: 100rpx;
  position: fixed;
  right: 30rpx;
  bottom: 40rpx;
  .collect {
    width: 100%;
    height: auto;
  }
}

.navigator-hover {
  opacity: 1;
  background-color: transparent;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  .tips {
    margin-top: 98rpx;
    font-size: 50rpx;
    font-weight: 500;
    line-height: 70rpx;
    text-align: center;
  }
}

.icon-collection-empty {
  width: 240rpx;
  height: auto;
}

.icon-close {
  width: 73rpx;
  height: auto;
}

.icon-email-sending {
  width: 200rpx;
  height: auto;
}
.icon-email-status {
  width: 200rpx;
  height: auto;
}
.icon-x {
  width: 20rpx;
  height: auto;
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 20 * 2rpx;
  line-height: 28 * 2rpx;
  opacity: 0;
  z-index: -1;
  // transition: opacity 0.267s ease 0s;
  will-change: opacity;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  pointer-events: none;

  &.open {
    opacity: 1;
    z-index: 377;
    // transition: none;
  }

  .card {
    width: 511rpx;
    height: 402rpx;
    background-color: #fff;
    border-radius: 8rpx;
    border: 1px solid #979797;
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #797878;
    padding: 37rpx 54rpx 34rpx;
    pointer-events: auto;

    &-wrap {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &-header {
      color: #000;
      font-size: 32rpx;
      font-weight: 500;
      line-height: 45rpx;
    }

    &-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .content {
        font-size: 30rpx;
        font-weight: 500;
        line-height: 42rpx;
        text-align: center;
      }

      .input-wrap {
        width: 100%;
        margin-top: 64rpx;
        margin-bottom: 18rpx;
      }
      .input {
        width: 100%;
        border: 1px solid #979797;
        background-color: #f7f7f7;
        padding-left: 15rpx;
        padding-right: 15rpx;
        text-align: center;
        height: 74rpx;
        border-radius: 13rpx;
        box-sizing: border-box;
        font-size: 24rpx;
        line-height: calc(74rpx - 2px);
      }
      .tip {
        text-align: center;
        font-size: 18rpx;
        margin-bottom: 18rpx;
      }
    }

    &-footer {
    }
  }

  .loading {
    &.card {
      width: 280rpx;
      height: 280rpx;
      border-radius: 58rpx;
      padding: 0 20rpx 20rpx;
    }

    .tips {
      position: absolute;
      bottom: 33rpx;
      color: #747272;
      font-size: 20rpx;
      line-height: 28rpx;
    }

    .coffee-mug {
      position: relative;
      // top: 10rpx;
      left: -10rpx;
      // margin: 0 auto;
      width: 8em;
      height: 6em;
      border-radius: 0.05em 0.05em 3em 3em;
      box-shadow: 0 0 0 0.5em #009688;
      transform: scale(0.4);
    }
    .coffee-mug:after {
      content: '';
      display: block;
      position: absolute;
      left: 100%;
      top: 1em;
      width: 1.5em;
      height: 2em;
      box-shadow: 0 0 0 0.5em #009688;
      margin-left: 0.5em;
      border-radius: 0 50% 50% 0;
    }
    .coffee-mug .coffee-container {
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: #fff;
      border-radius: 0.05em 0.05em 3em 3em;
    }
    .coffee-mug .coffee {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #111;
      animation: coffee-load 3.3s infinite;
    }
    .coffee-mug .coffee:before {
      content: '';
      display: block;
      width: 200%;
      height: 1em;
      position: absolute;
      left: -50%;
      top: -0.5em;
      background: #fff;
      animation: coffee-wave 0.8s ease-in-out infinite;
      border-radius: 50%;
    }

    @keyframes coffee-load {
      0% {
        transform: translateY(100%);
      }
      70% {
        transform: translateY(30%);
      }
      90% {
        transform: translateY(0);
      }
      95% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(100%);
      }
    }
    @keyframes coffee-wave {
      0% {
        transform: rotate(2deg);
      }
      50% {
        transform: rotate(-2deg);
      }
      100% {
        transform: rotate(2deg);
      }
    }
  }

  .icon-close {
    position: relative;
    bottom: -45rpx;
    pointer-events: auto;
  }
}
